[2020-05-08 17:14] Fady222 opened #1 "[installation] Unable to build wade due to missing annotade_td.json"
## Description
After installing wade using npm successfully, I tried to build the electron executible using `npm run electron:build`. Doing so resulted in an error:
[code]
The file is required in `wade/src/components/04_templates/tPerformance.vue` in lines 92 - 95:
[code]

[2020-05-26 12:14] egekorkan opened #2 "[structure] Renaming components"
Some atoms are named aButtonConfig whereas some are aConfigButton. It will be easier to navigate if they are always named from generic to specific, i.e. like aButtonConfig

[2020-05-26 12:33] egekorkan opened #3 "Virtual Thing should be a template"
@adriankast was there a specific reason to implement the virtual thing tab as an organism and not as a template?

[2020-05-28 10:13] neniman opened #5 "Static Timing Input Field"
Atm the 'Static Timing' input field can be clicked even when the button say it's disabled. Additionally it is not being enabled even though it should be (when one Action and Property are selected).

[2020-05-28 10:16] neniman opened #6 "Disable 'Events' in Timing Performance Tab"
As it does not make sense to measure the timing performance of Event interactions, they should be
 - either be removed from the 'Timing Performance' side
 - or disabled (hence, not selectable for measuring timing performance)

[2020-05-28 10:17] neniman opened #7 "Add prettyfier"
Add some kind of code prettyfier.

[2020-05-28 10:25] neniman opened #8 "Make selection of specific form element available"
Node-wot automatically selects the first available form of an interaction affordance.
Therefore, users aren't able to select a specific form nor protocol
This needs to be implemented.

A possible solution / workaround for now: before consuming the TD remove all form elements and only leave the desired one.

When users can select the form/ protocol, the dynamic- and staticTiming elements need to be

[2020-05-28 18:04] egekorkan opened #9 "[Build fails] Cannot build wade because node-aead-crypto is not installed"
## Proposed Solution Path

Update the @node-wot/coap-binding as soon as the problem is fixed in this package.

## Workaround

Install node-aead-crypto to avoid failing dev build and build, because coap-binding seems to need it might be necessary (it isn't installed with current node version because it shouldn't be needed anymore):
[code]

After installing node-aead-crypto you should delete the dep

[2020-05-28 18:05] egekorkan opened #10 "[Build fails] The vuex dependency leads to errors at building in Version 3.1.2"
# Comes up when
* npm install
* npm run electron:serve **OR** npm run electron:build

# Problem
When the `vuex` dependency is installed in Version 3.1.2 by npm, multiple Errors are thrown during building (depending on wade-branch around 60 errors). They all have a similar reason (difference is only the involved variable), an throw in different files, e.g.:
[code]

# Workaround
In package.json repl

[2020-05-31 17:17] egekorkan commented on #9
[issue on thingweb.node-wot](https://github.com/eclipse/thingweb.node-wot/issues/136)

[2020-05-31 17:18] egekorkan commented on #10
I think this can be closed now, what do you think @neniman ?

[2020-05-31 17:20] egekorkan opened #11 "[Interactions] Invoke interaction timeout"
from Readme.md:
[code]

[2020-05-31 17:21] egekorkan opened #12 "[Folders] Create user interface for folders"
from Readme.md:
[code]

[2020-05-31 17:22] egekorkan commented on #12
@neniman Could you specify what was meant by this issue? There is already a folder structure

[2020-05-31 17:23] egekorkan opened #13 "[Editor] Add Td from local machine"
from Readme.md:
[code]

Comments:

@egekorkan A quick way to implement this would be to include the File Client of node-wot and then let people type file://tdlocation to import their TDs. Later on, a GUI can be added that fills this string according to how the user explores

@adriankast I think the GUI could be added quickly as systems Dialog (using the OS native file selection, and receiving the

[2020-05-31 20:42] egekorkan commented on #1
@neniman this is now fixed right?

[2020-05-31 20:52] egekorkan commented on #6
I would "vote" for simply removing them since otherwise it looks as if there is a bug

[2020-05-31 20:52] egekorkan commented on #7
Do you mean to restyle the source code?

[2020-05-31 20:58] egekorkan commented on #8
I support this, however, how will the user select the forms? This is also being discussed in node-wot and scripting api. The relevant issues are below:
1. https://github.com/eclipse/thingweb.node-wot/issues/199
2. https://github.com/w3c/wot-scripting-api/issues/201

[2020-05-31 21:00] egekorkan opened #14 "[Sidebar] Del, Add, Merge Sidebar Elements needs a strict interface"
from Readme.md:
[code]

[2020-05-31 21:01] egekorkan commented on #14
@neniman Could you add some explanation to this issue? Do you mean the TS definitions by strict interface?

[2020-05-31 21:02] egekorkan commented on #11
@neniman Do you mean that the user can choose a timeout for the interactions and that WADE displays an error when there is a timeout?

[2020-05-31 22:02] egekorkan opened #15 "[VT Plugin] Integrate Virtual Thing via import instead of launching a subprocess"
Integrate the Virtual Thing Plugin via importing all necessary classes/functions with the `import` keyword instead of launching a subprocess. Before this is possible adaptions in VT have be made, to get an Interface for the output of VT which is currently handled via calls to `console`.

[2020-05-31 22:03] egekorkan commented on #15
Virtual Thing is also renamed to shadow-thing so a proper new install is needed but now it can imported properly

[2020-05-31 22:06] egekorkan opened #16 "[ci] Create CI pipelines"
As seen at shadow-thing, only Linux pipeline should be executed automatically and Mac and Windows pipelines should be executed only on demand

[2020-05-31 22:22] egekorkan opened #17 "Add timing information to events in the main window"
Add timing measurements for events in normal TD editor mode. Although events are not considered in the performance measurements, for each new arriving event the needed time until the next response could be viewed in the results area of the TD.

[2020-05-31 22:22] egekorkan opened #18 "More Consumers for timing benchmarking"
Add the possibility of multiple clients for performance measurements. To enhance the measurement feature, users should be able to add more clients for measuring performance. (See Postman Test Runner as example)

[2020-05-31 22:24] egekorkan commented on #18
Also see Client Pool of Shadow Thing at https://github.com/tum-esi/shadow-thing/blob/master/src/client-pool.ts

[2020-05-31 22:31] egekorkan opened #19 "[benchmarking] Improve the size information displayed"
Make 'size' information more consistent/ valuable / more obvious. As it sometimes is the input value, sometimes the response value size, this should be made more transparent to the user.

[2020-05-31 22:34] egekorkan commented on #8
It could also be that two forms are both HTTP but one is a local IP and the other one is a WWW URI that needs Internet access. node-wot is not able to choose one or the other based on which one it can access.

Hopefully, we will not see this for a while but it can also be that for eventing, one form can have something like HTTP longpoll whereas the other one has proper eventing with websub, sse et

[2020-05-31 22:38] egekorkan opened #20 "[Interface Generation] Pasting MQTT TD doesn't generate the interface when configuration is not done"
A TD with MQTT forms does not generate an interface when I don't configure the broker URI. Maybe there should be at least a warning?

[2020-05-31 22:40] egekorkan opened #21 "[Scrollbar] Restyle"
This could be a bit higher priority even if it doesn't seem like it. In the current state, the scrollbar falls back to GUI Framework that electron is using on the given platform. In macOS and Windows it might always be the same but in Linux, Ubuntu users might fall back to Gnome style, KDE users fall back to KDE style etc. This results in scrollbars appearing in and around text areas that the wade

[2020-05-31 22:43] egekorkan opened #22 "[Interface] The interface does not scale vertically"
As seen in below, the interface does not scale down to the end of the window

![image](https://user-images.githubusercontent.com/20195407/83364328-e75dcb00-a3a0-11ea-9ccc-1f7c4e35947a.png)

[2020-05-31 22:49] egekorkan opened #23 "[Sidebar] Drag n Drop to add a Td or Mashup to a Folder or Mashup"
from Readme.md:
[code]

[2020-05-31 22:55] egekorkan opened #24 "[Sidebar] Drag and Drop of elements to change their order"
from Readme.md:
[code]

[2020-05-31 22:56] egekorkan opened #25 "[Interactions] Order and Drag n Drop"

[2020-05-31 23:00] egekorkan opened #26 "[Interaction Results] Array and Object type support"
Add Array and Object type support for the Interaction Results.
* [ ] Array support
* [ ] Object support

from Readme.md:
[code]

[2020-05-31 23:01] egekorkan opened #27 "[Editor] Real JSON editor"
Atm the 'editor' in the TD interface of W-ADE is only a textarea.
It should be replaced with a real JSON editor, including line numbers, collapsing lines, maybe highlighting.
This _real_ JSON editor needs to be compatible with vue.

[2020-05-31 23:03] egekorkan opened #28 "[Config] Config help is not copy-pasteable"
When the config help is clicked, one gets a text as a js-only-JSON document, i.e. mqtt:number instead of "mqtt": "number". I would suggest that when the config help is copy-pasted the user only needs to change the property values and delete comments but not add quotes.

[2020-05-31 23:05] egekorkan opened #29 "[Editor] Removing a selected part of the scrolls to the bottom of the editor"
When I highlight and select and then delete a part of the TD, like one of the forms, the editor scrolls down to the end of the page.

[2020-05-31 23:07] egekorkan opened #30 "[Statusbar] History functionality"
Add a history functionality to the Statusbar

[2020-05-31 23:07] egekorkan commented on #30
@neniman Can you explain the issue?

[2020-05-31 23:08] egekorkan opened #31 "[Throbber] Indicate loading"
Indicate loading in fetch Uri, results, ...

[2020-05-31 23:09] egekorkan opened #32 "[Interaction selection] Input Button -> click outer div"
Low Priority, only an UI improvement.

from Readme.md:
[code]
**Detailed explanation:**
In TD/TD-Editor: when the given TD is parsed and buttons for each interaction (props/actions/events) are generated, these buttons (and therefor the attached interaction) can only be selected when the user clicks on the small circle on the button. Same with deselection. Only a click on the checked circle can des

[2020-05-31 23:09] egekorkan commented on #32
I find it a good idea since it would mean that there would be a bigger thing to click to and that we would win space to put more/longer title. However, there has to be a way to indicate that this is clickable and then show the state of being selected or not. Minimalism (?) can actually hurt in this case.

[2020-05-31 23:11] egekorkan opened #33 "[Statusbar] Make time length equal"
Add zeros to current time in statusbar to prevent different length of statusbar-time
Maybe even change the first part of the statusbar (according to other existing/popular statusbars).

*Statusbar should be reworked anyway (e.g. history functionality, more output, etc.)*
*See also #30*

[2020-05-31 23:18] egekorkan opened #34 "[TD Names] Basic validation for naming of Td"
Basic validation for naming of Td (default node regex)

E.g.
* [ ]  Min & max characters
* [ ]  No special characters
* [ ]  ... other?

[2020-05-31 23:26] egekorkan opened #35 "[Electron interface] Style improvements"
* [x] Hide developer console on start.
* [x] Do not allow resizing of window (to a very small window).
* [x] Remove gap to window (Make "full screen") (removed from this Issue because it exists already -> see #22)

[2020-06-01 20:59] egekorkan opened #36 "[Selection] Show error if input is not in correct format"
from Readme.md:
[code]

[2020-06-01 21:00] egekorkan commented on #36
This issue is to check only for `client-data-schema` assertion. So if the action input or property write payload does not respect the DataSchema.

[2020-06-01 21:02] egekorkan opened #37 "[Validation] Validating interaction response data schema: Error Message"
from Readme.md:
[code]

[2020-06-01 21:03] egekorkan commented on #37
Some information that got lost in translation. In the TD spec, there are assertions that are basically sentences like `A WoT Thing Description MUST accurately describe the data returned and accepted by each interaction`. These assertions make up the spec and each implementation, like node-wot says which ones it has implemented. Once this is done for each implementation, we generate the [implementa

[2020-06-01 21:07] egekorkan opened #38 "[Errors] Show connection errors in statusbar"
from Readme.md:
[code]

[2020-06-01 21:07] egekorkan commented on #38
@neniman Do you mean losing connection to the Thing during interactions or when trying to fetch the TD?

[2020-06-01 21:10] egekorkan opened #39 "[Dropdown] Hide all dropdowns if anything else was clicked"
Two initial thoughts:
* fire an event whenever the user clicks somewhere outside a dropdown and listen to it in `aDropdown`
* listen to the existing event `click` on document if possible?

[2020-06-01 21:11] egekorkan opened #40 "[Uri Bar] Error handling if Fetch timed out"
from Readme.md:
[code]

# Ideas:
* retry for **x** times
* stop trying and display error message if timed out always

[2020-06-01 21:11] egekorkan commented on #40
I would suggest to not try to handle it. Since the user would be waiting on this screen anyways, he/she can click multiple times.

[2020-06-01 21:11] egekorkan commented on #40
Thats a good point, still adding some Feedback that the connection timed out seems to be useful

[2020-06-01 21:15] egekorkan opened #41 "[Results] Improve error handling"
from Readme.md:
[code]

[2020-06-01 21:15] egekorkan commented on #41
What kind of handling is wished-for? Like showing a button an saying what could be the possible problems when clicked?

[2020-06-01 22:06] egekorkan opened #42 "[Sidebar] Implement Filter functionality"
from Readme.md:
[code]

[2020-06-01 22:06] egekorkan commented on #42
I am guessing that this means searching for a specific TD or mashup based on search/filter query. As a probable overkill but cool would be semantic search via SPARQL queries, like the thingweb-directory.

[2020-06-01 22:06] egekorkan commented on #42
@neniman Could you explain this issue?

[2020-06-01 22:09] egekorkan opened #43 "[Sidebar] Confirm the deletion of an element"
If an element is deleted this action should be confirmed first. (or w-ade should display the user a confirmation for the deletion? -> is less likely to be meant, because the user sees the element disappearing from the sidebar)

from Readme.md:
[code]

[2020-06-01 22:09] egekorkan commented on #43
I am pretty sure that it is meant that the user should click twice in total to delete some element.
As a design choice, I think the element sliding to the left/right to reveal a confirmation button or the trash can icon getting big or red could be nice.

[2020-06-01 22:17] egekorkan opened #44 "[Results UI] Make id smaller and response bigger"
from Readme.md:
[code]

[2020-06-03 17:30] egekorkan opened #45 "[Editor] Pasting an example-TD does not work after every previous view"
When you click on tab "config" and then editor, pasting an example-TD works always -> make it work always for every previous view

[2020-06-03 17:32] egekorkan opened #46 "[VT Plugin] Place the dropdown field of copy VT-Link better"
Think about a good anchor + relation strategy to determine a good position for the copy VT-Link dropdown (especially given its different sized content and optimized for different size w-ade windows). Then implement the strategy :wink:

[2020-06-03 20:09] Fady222 commented on #39
Another thought would be to close the menu when not in focus.

[2020-06-03 20:19] egekorkan opened #47 "[VT Plugin] JSON-Beautify virtual thing config at saving"
Beautify the Virtual Thing configuration JSON, when the user hits the *Save* Button .

[2020-06-04 12:17] Fady222 commented on #1
@egekorkan @neniman I can confirm that this bug is now fixed.

[2020-06-04 12:17] #1 closed

[2020-06-04 12:46] egekorkan commented on #1
Thank you @Fady222 !

[2020-06-16 09:45] neniman commented on #22
This is issue is fixed in the current version.

[2020-06-16 09:45] #22 closed

[2020-06-16 11:09] neniman opened #51 "[VT Plugin] Overview Ticket"
Bulk / overview ticket for all issues related to the Virtual Thing / Shadow Thing plugin.
[Should be updated, when new tickets regarding the VT plugin arise or being updated.]

#47 JSON-Beautify virtual thing config at saving
#46 Place the dropdown field of copy VT-Link better

[2020-06-16 11:12] neniman commented on #45
Is this still an issue? Could not reproduce the bug.

[2020-06-16 11:16] neniman commented on #29
Could not reproduce. Could you make a screencast or something similar showing the bug?
Also for what system does the bug appear?
(I am on mac with current w-ade version and could not reproduce)

[2020-06-16 11:23] neniman opened #52 "[Thing Description Interface] Overview Ticket"
Bulk / overview ticket for all issues related to the **Thing Description Interface** in W-ADE. This includes the **Editor** view.
[Should be updated, when new tickets regarding the Editor arise or being updated.]

#45 **[Editor]** Pasting an example-TD does not work after every previous view
#32 **[TD Interface]** Input Button -> click outer div
#29 **[Editor]** Removing a selected part of the scr

[2020-06-16 11:30] neniman opened #53 "[UI] min-height / min-width not working correctly"
A minimum height and width of the electron window was added with this issue: #48
Due to this, the view is scrollable horizontally when the size expands the min. width.

Somehow the bg is not updated accordingly (see screenshot)
<img width="806" alt="Screenshot 2020-06-16 at 13 27 54" src="https://user-images.githubusercontent.com/8364973/84769012-80155d00-afd5-11ea-9c7d-ec2213d642e0.png">

[2020-06-16 11:31] neniman commented on #53
The min. width / height can either be removed (as the UI was updated to resize, or this needs to be fixed.

[2020-06-16 11:41] neniman commented on #41
It could show the error code, message etc. seperately.
Or when there's no connection from the client side or something like this.

[2020-06-16 11:43] neniman commented on #39
@Fady222 Dropdown buttons are also used in other components, that's why your idea unfortunately does not work.

[2020-06-16 11:47] neniman commented on #30
At the moment the statusbar (the black bar on top of the TD interface -> tab 'editor') is not that useful.
It should show things like 'Sending requests' 'Requests retrieved' etc.. Similar to a terminal.
A nice 'statusbar' is already in the Virtual Thing plugin.

[2020-06-16 11:52] neniman opened #54 "[UI] Overview Ticket"
Bulk / overview ticket for all issues related to the **UI** wich do not fit into other overview tickets.
[Should be updated, when new tickets regarding the UI arise or are being updated.]

#53 min-height / min-width not working correctly
#44 **[Results UI]** Make id smaller and response bigger
#39 **[Dropdown]** Hide all dropdowns if anything else was clicked
#31 **[UI]** Add throbber to Indicate

[2020-06-16 11:54] #35 closed

[2020-06-16 11:56] neniman commented on #38
Yes for example.
Or when the client itself has no internet connection.

[2020-06-16 12:07] neniman commented on #28
Another enhancement: the 'default help config' should have a white background to show the user, that this can be copy-pasted.

[2020-06-16 12:09] neniman opened #55 "[Config] Implement feature 'Form-Fields'"
In the Config Tab of the Thing Description Interface the user can select the option 'raw' or 'form-fields'.
The option 'form-fields' is not yet implemented.

**What should the option form-field look like?**
It should basically show all options of the config in key-value pairs and a checkbox to 'active' them (include them into the config).

Similar to this, but with another field on the left, which

[2020-06-16 12:11] neniman opened #56 "[General] Overview Ticket"
Bulk / overview ticket for all issues that didn't fit anywhere else.

#34 **[Names]** Basic validation for naming of TD / Folder / Mashup
#37 **[Validation]** Validating interaction response data schema: Error Message
#41 **[Results]** Improve error handling

[2020-06-16 12:13] neniman opened #57 "[Sidebar] Overview Ticket"
Bulk / overview ticket for all issues related to the Sidebar.
[Should be updated, when new tickets regarding the Sidebar arise or are being updated.]

[2020-06-16 12:17] neniman commented on #42
You guessed right 😄
A search bar component already exists.

It would be nice to search for a specific TD / folder / mashup with their name.
Should not be too hard to implement, but also not that necessary (but 🆒 ).

Could be useful when somebody saves lots of TDs in W-ADE.

[2020-06-16 12:23] neniman commented on #3
To-Do: It should be converted into a template.

[2020-06-16 12:25] #5 closed

[2020-06-16 12:27] neniman commented on #7
yes 🤓

[2020-06-16 12:29] neniman commented on #8
I agree.
It is not an easy thing to implement and some more thoughts have to be put into it.

[2020-06-16 12:35] egekorkan commented on #45
Me neither, closing :)

[2020-06-16 12:35] #45 closed

[2020-06-16 12:35] neniman commented on #11
Not quite.
W-ADE should have a timeout when sending interaction requests implemented.
Sometimes the target thing is down or not reachable.
Atm W-ADE simply waits for a response and only after a significant amount of time the connection is timed-out.
But this is not very transparent for the user.

I see two possible solutions:
- A: There is a reasonable timeout (could be problematic if there is e.g

[2020-06-16 12:40] egekorkan opened #58 "[UI] Opening any modal form should auto-focus first field"
When I want to add a new element, I click on Add Element, then at Thing Description. At this point a window pops up and I need to enter the name of the TD. To do that, I need click with my mouse on the name field. It would be an improvement if this name field becomes automatically active so that typing results on the name field to be changed.

This is valid also for folder and Mashup.

[2020-06-16 12:48] egekorkan commented on #29
This appears for Linux with Arch Linux distribution. Attached is the screencast. Notice how the "typer" scrolls to the end of the page.
![recording](https://user-images.githubusercontent.com/20195407/84776179-49910f80-afe0-11ea-9676-4cdd4e4c8cfa.gif) (Made with gifcap.dev btw, built by one of the main devs of VS code :) )

[2020-06-16 12:50] egekorkan commented on #41
Related issue at Scripting API and also node-wot
https://github.com/w3c/wot-scripting-api/issues/200

[2020-06-16 12:51] egekorkan commented on #38
Ok, closely related to https://github.com/tum-esi/wade/issues/30

[2020-06-16 12:54] egekorkan commented on #7
Also being discussed in node-wot at https://github.com/eclipse/thingweb.node-wot/issues/239
I think we should also use editorconfig

[2020-06-16 12:56] egekorkan commented on #11
Addition to A: The reasonable timeout can be configured by the user

[2020-06-16 12:57] egekorkan commented on #53
Then it can be removed, @Fady222 what do you think and do you see the same behavior?

[2020-06-16 13:50] egekorkan opened #59 "[General] Adding meta interactions"
In a TD, forms at the Thing level can contain operations like `readallproperties`. These are not generated in the UI

[2020-06-16 15:05] Fady222 commented on #53
I can confirm bug.
Removing minimum height and width would allow the user to basically minimize the window all the way down to being not visible at all. If that is acceptable then it can be removed. @egekorkan @neniman

[2020-06-16 15:14] miguelrk opened #60 "[UI] Change "Virtual Thing" to "Simulator""
Change the tab name from "Virtual Thing" to "Simulator"

[2020-06-16 15:54] neniman commented on #14
Actually I am also not sure what I meant with that.. so I'm closing this issue 😃

[2020-06-16 15:54] #14 closed

[2020-06-16 15:59] neniman commented on #12
Atm when clicking a folder, the UI only shows a label and nothing else.
So this tickets includes the following tasks:
- Setup a design for folders (e.g. include the Folder name, a description, and the content of the folder.. e.g. a list of TDs / mashups / other folders)
- Implement it

[2020-06-16 16:19] neniman opened #61 "[Benchmarking / Timing Performance] Overview Ticket"
Bulk / overview ticket for all issues related to the Timing Performance / Benchmarking feature.
[Should be updated, when new tickets regarding this topic arise or are being updated.]

_When working on new tickets please consider their priority._

#17 **[benchmarking]** Add timing information to events in the main window
#18 **[benchmarking]** More Consumers for timing benchmarking
#19 **[benchmark

[2020-06-16 16:32] neniman commented on #60
Should it be called Simulator or Shadow Thing @egekorkan ?
Or maybe _'Thing Simulator'_ ?

[2020-06-16 16:47] egekorkan commented on #53
I would say that there should be a minimum but if this CSS fix does not solve it, then we should remove it.
@Fady222 where is the fix?

[2020-06-16 16:49] egekorkan commented on #60
I would say Simulator or Thing Simulator. The user does not need to know about the "advanced" features implied by the "shadow" adjective.

Since we can have more plugins in the feature, saying Thing Simulator from now on makes more sense :)

[2020-06-16 17:04] Fady222 commented on #53
@egekorkan  Didn't do it yet. Would do it by today or by tomorrow at most

[2020-06-16 17:09] neniman opened #62 "[Timing Performance] Show full path of saved annotated td / output"
- [x] In the Timing-Tab of a TD, in the output field, the path of the saved annotated TD or the saved output is shown, after the user clicks one of the save-button.
At the moment only the path of the folder is shown, not of the exact file.

- [x]  Also the shown path should wrap to the next line (not be scrollable).

- [x] The name of a 'saved output' file should be similar to the 'annotated td' f

[2020-06-16 17:14] neniman opened #63 "[Sidebar] Show folder content bug"
When clicking on a folder, its content should be shown.
Atm you have to click two times before the content is shown, and the incorrect dropdown icon is shown on the folder.

[2020-06-16 17:17] neniman opened #64 "[Sidebar] Sidebar extension bug"
When first opening the W-ADE application, the sidebar is opened and expanded.
It contents should either be hidden, or the sidebar shouldn't be shown full-size.

[2020-06-16 17:22] neniman commented on #11
Then we would need some kind of settings page or component. This could be added to the right handside of the 'Config-Tab'.

[2020-06-16 17:26] neniman commented on #29
Ok, crazy. Does not happen on mac.
Does somebody work on Windows & can check this behaviour?

nice gif hehe 🤓

[2020-06-16 17:33] neniman opened #65 "[Interaction Selection] Reset of Selections does not work"
When clicking the 'Reset selections' button in 'Editor' or 'Performance' the selections are not always resetted in the UI. (They are resetted in the backend, however)

[2020-06-16 17:36] neniman opened #66 "[Performance] Output is not resetted"
When in the 'performance' tab, the output is not resetted when a new selection is made in the 'Interaction Selection'.
This is unwanted behaviour -> the output should be resetted.

[2020-06-17 07:25] neniman commented on #53
If you disable scrolling, some content would not be visible.. so we have to find another solution / remove it 🌝  @Fady222

[2020-06-17 07:32] neniman opened #67 "[Performance] Results of multiple interactions are not saved in output file"
In the Performance tab, when multiple interactions have been selected and timing measurements for them have been executed, the user is able to save the output (= measurements) in a json file.

The problem is, that only the measurements of the first selected interactions are saved here (together with selected options).

- [x] Measurements of all selected interactions have to be saved in the output

[2020-06-17 09:13] Fady222 commented on #29
Was able to reproduce on Windows

[2020-06-17 10:02] neniman commented on #62
Will be solved with the next pull-request from me (closing it to not forget)

[2020-06-17 10:02] #62 closed

[2020-06-17 10:04] neniman commented on #67
Will be solved with my next pull request. Closing it to not forget it.

[2020-06-17 10:04] #67 closed

[2020-06-17 10:30] neniman commented on #29
Ok then it needs to be fixed for windows and linux.

[2020-06-19 06:17] sebastiankb opened #69 "Bug: No CoAP Communication Possible"
Yesterday I did a fresh new install of W-ADE and tried to test a TD that is based on CoAP interactions. When I click on "invoke interactions" all result fields show me an error message "... missing ClientFactory for 'coap' ".

Any ideas?

[2020-06-19 11:56] miguelrk opened #70 "[UI] Dynamic tabs wrapper for views"
**Problem**
Switching between TDs/SDs/Folders is somewhat cumbersome for the users, as he must save before switch, or all edits (e.g. in editor) will be lost.

**Solution**
A dynamically tabbed interface similar to that of code editors like vscode can be implemented, such that a new tab is created when the user clicks (or double clicks) an item in the left tree-view, a new tab is created. Users ca

[2020-06-19 14:05] egekorkan opened #71 "[URI Bar] CoAP TDs cannot be fetched"
As the is fetched using the `fetch` function at [this line](https://github.com/tum-esi/wade/blob/75b21210a9c7181e649c4fc943a74d8ee377ca77/src/components/04_templates/tThingDescription.vue#L119), it does not use the node-wot's fetch function that is actually protocol independent, see here ( https://github.com/eclipse/thingweb.node-wot/blob/6b207b0029654055f170f83dc94443cc8c94f956/packages/core/src/

[2020-06-19 14:05] egekorkan commented on #71
Also valid for any other protocol

[2020-06-22 13:03] egekorkan opened #72 "[Build] Built binary logo"
When the wade is built, the binary image has the logo of electron and not a wade logo. We can first think of a logo for wade which will be used instead WoT logo and which will be displayed everywhere.

[2020-06-22 13:05] egekorkan opened #73 "Credentials (Add "raw" vs "form-data")"
* Redo Credentials UI under Tab "Configuration"
  * Let user choose between input fields or raw data
  * Generate inputs as dropdown / input fields
  * Redo look
* Form-UI: Delete, change key, change value, add new one

* Apply credentials
* Edit default configs

* [x] Edit & Save buttons
* [x] Connect
* [ ] Raw vs form-data

[2020-06-22 13:07] egekorkan opened #74 "Subscription"
At the moment only a not intuitive message is shown if an event-subscription is started.
It is also not possible to unsubscribe from an event.

**Subscription TO-DOs**
* [ ] Automatic unsubscribe if interactions / selection is reseted
* [x] Unsubscribe-Button next to event-result
* [x] Unsubscribe functionality (TD-Consumer)
* [ ] Show updated subscription-status (time of event, num of happened ev

[2020-06-22 13:07] egekorkan commented on #74
@neniman

This is done now right?

[2020-06-22 13:44] egekorkan opened #75 "MQTT"
* [ ] Enable Unsubscribe
* [ ] Enable Unobserve
* [ ] Dirty workaround for properties
  * Check if mqtt protocol
  * Do not read/write, but observe properties
* [ ] Apply changed mqtt config

* [ ] Timeout if cannot connect to broker (else consuming is not possible)

[2020-06-22 13:44] egekorkan commented on #75
@neniman Could you mark how each has been resolved or not

[2020-06-23 07:34] neniman commented on #69
@sebastiankb thanks for adding the issue. I will check it out and see if I can reproduce & fix it 🙂

[2020-06-23 07:35] neniman commented on #70
Cool idea! Sounds like a lot of work though 😄
Adding some kind of keyboard commands could be a good first step!

[2020-06-23 07:38] neniman commented on #75
Will do!

[2020-06-23 07:41] neniman commented on #73
@egekorkan An issue for this already exists: #55
I'll close this issue 😸

[2020-06-23 07:41] #73 closed

[2020-06-23 10:00] egekorkan commented on #69
@sebastiankb Which TD/Thing did you try? Do you see the same errors when you interact with the following TD/Thing at coap://129.187.45.174:5683/Virtual-Coffee-Machine_2_16
[code]

[2020-06-23 10:19] sebastiankb commented on #69
Your TD works! However, this TD does not work:

[code]

Maybe some issues withe the base arithmetic?

[2020-06-23 10:20] sebastiankb commented on #69
btw: I just changed the resource address in my TD so that you can test this with the coffee machine.

[2020-06-23 11:06] egekorkan commented on #69
ah now I see where the error originates from. @neniman the protocols that are passed on to the TD Consumer are built based on the href of forms. So basically the protocol present in base URI should also be added.

[2020-06-23 15:53] neniman commented on #69
I see! Will fix this :)

[2020-06-30 09:37] miguelrk opened #76 "[UI] Consistent proper case texts throughout UI"
Some texts throughout the UI are not proper cased.

* [X]  "Reset selections" button in Interaction Selection
* [X]  "object" placeholder in Interaction Selection > Actions

[2020-06-30 10:14] miguelrk commented on #54
### Bug
#76 **[UI]** Consistent proper case texts throughout UI

[2020-06-30 13:57] miguelrk commented on #27
Currently working on adding generic monaco editor component (for json, typescript, javascript, etc) with [vue-monaco](https://www.npmjs.com/package/vue-monaco)

![vue-monaco](https://user-images.githubusercontent.com/18708856/86134828-5d616900-baea-11ea-9399-176f2e83dba0.png)

[2020-06-30 16:31] egekorkan commented on #27
Looks really nice! Could you already create a Draft PR?

[2020-07-01 08:28] miguelrk commented on #27
@egekorkan I just created the draft PR. Editor works now and is implemented in every view where it should be, but it is throwing some WebWorker errors in the console. I'll keep looking into this.

[2020-07-01 09:27] miguelrk commented on #60
Should we replace all instances where "virtual thing" to something like "simulated thing"? Or should we keep both terms?

I believe the tab name should be changed from "Virtual Thing" to "Thing Simulator" as mentioned above by @egekorkan . But I still like the term "virtual thing" (maybe even "digital thing") to refer to running instances of the thing simulator. It is in my opinion better than som

[2020-07-01 10:57] egekorkan commented on #60
So just from an English language perspective, it should have an `-er, -or` ending such that the user understands that he/she will initiate the simulation. If for each TD, we were to automatically start the simulation, it would be fine to use Virtual Thing or Digital Thing.

[2020-07-01 10:58] egekorkan commented on #76
Please close the issue only once the PR is merged and the code is available on the master branch

[2020-07-03 21:00] egekorkan opened #81 "[documentation] Screenshots on the Readme"
It would be very good to include a screenshot of W-ADE, possibly also a GIF showing the use of the main editor page. For the performance and virtual thing, additional images and GIFs can/should be also put

[2020-07-03 21:21] egekorkan opened #82 "[marketing] WADE Video"
For promoting WADE, it would be nice to have a short video (screencast) of it being used for about 1 minute. This should be done once the monaco editor is integrated. We can upload it on our YouTube channel.

[2020-07-14 10:36] miguelrk commented on #58
This behavior is desired not only for when creating a Thing, but for any modal with a form.

In general: opening any modal form should auto-focus first field.

[2020-07-14 11:05] miguelrk commented on #44
I came up with 2 alternatives to solve this:

**Option 1:** good that interactionName (e.g. r, w, o) comes at the end, which is better for cases where no interactionName is present (e.g. actions)
![option1](https://user-images.githubusercontent.com/18708856/87418643-50587580-c5d2-11ea-90d2-9ed87efcfed6.png)

**Option 2:** I find it visually more appealing, but it breaks consistency since propertie

[2020-07-15 07:27] egekorkan commented on #44
I agree with the (r) and (w) kind of annotations.
Regarding wrapping the responses in another object is misleading. Some implementations actually return this kind of response already and this would give the impression that every implementation does this. I would say that the response should never be wrapped into another object.

[2020-07-15 12:23] miguelrk opened #84 "[development] Add Vue CLI UI"
Vue CLI provides a built-in UI to manage the application (plugins, dependencies, devDependencies,etc). It is served locally and is very useful for development.

To be able to use it, a user must:

- Have Vue CLI globally installed: `npm install -g @vue/cli`

I therefore propose adding the following npm script to package.json:
[code]

This ways, users can run the corresponding npm script (package.j

[2020-07-15 12:38] egekorkan commented on #84
I would support this. Just that we should not recommend installing it from npm but through your package manager and using the npm as a fallback. This would avoid dependency clashes.

[2020-07-15 12:44] miguelrk commented on #84
Understood, it makes sense to not assume npm... will proceed to create a PR.

[2020-07-15 13:28] miguelrk commented on #44
Makes sense, wade shouldn't assume/enforce anything which is implementation-dependant. Will fall-back to non-object results for properties, action and event.

[2020-07-28 13:57] #27 closed

[2020-07-28 13:57] #76 closed

[2020-07-28 14:10] egekorkan commented on #58
Fix now on master

[2020-07-28 14:10] #58 closed

[2020-07-28 14:10] egekorkan commented on #44
Fixed in master

[2020-07-28 14:10] #44 closed

[2020-07-28 14:11] egekorkan commented on #84
It is quite nice, available in master

[2020-07-28 14:11] #84 closed

[2020-08-07 13:05] egekorkan commented on #69
Fixed by #87

[2020-08-07 13:05] #69 closed

[2020-08-26 07:49] Fady222 opened #88 "[Editor] Monaco Editor does not resize with window"
When the window is resized, the Monaco Editor does not resize to fill its container. The editor maintains its initial proportions at the moment of rendering.

[2020-08-26 07:54] Fady222 opened #89 "[Editor] Monaco Editor does not update text when changing from on TD to the next"
Monaco Editor does not update text when changing from on TD to the next. The editor always maintains the text of the first TD.

[2020-08-27 08:25] miguelrk commented on #89
I'll take a look, something must have broken with the last changes. Thanks!

[2020-08-27 08:38] miguelrk commented on #88
This had already been fixed with pure css. Something broke I guess but this should work on the target editor element:
[code]

An alternative is to add the following to the options property of MonacoEditor (pass it into the component as option prop)
[code]

@Fady222 could you maybe try this? I'm having issues with electron:serve still. Thanks!

[2020-09-04 13:47] #88 closed

[2020-09-23 15:10] Citrullin opened #91 "Cannot install dependencies"
When executing `npm install` I get the following error.

[code]

[code]

[code]

[code]

on commit `82caa3d4a9da5fa6469950acb0b6b8f86a4ad0c7`

[2020-09-23 16:55] egekorkan commented on #91
Could you try to force install node-aead-crypto ? We have documented it here: https://github.com/tum-esi/wade#errors-and-known-problems and also at node-wot https://github.com/eclipse/thingweb.node-wot/issues/136

If this is indeed the problem, I will push this troubleshoot somewhere more prominent :)

[2020-09-23 18:34] Citrullin commented on #91
Maybe at some point it makes sense to update all these packages. The warning are quite concerning. Especially when we talk about Electron. Looks like there is a native API for these kind of purposes in node these days.
"Note: This module is not necessary on NodeJS 10+ because you can now provide the authTagLength"

[2020-09-28 13:36] egekorkan commented on #91
I have tried to understand what is going on. Some possible solutions:
- Do you have node-gyp installed?
- Can you try to install electron-builder? This should not be necessary though

Until I understand how to fix it, you can use the following AppImage
https://we.tl/t-Fq3Hf780Yk

Not the most professional way to share binary files probably :)

[2020-09-29 03:21] Citrullin commented on #91
Probably not ^^
I guess you are also available at the PlugFest. Couldn't join yesterday, but I will be in the call today. So maybe a good opportunity to figure it out.

[2020-09-29 07:58] relu91 commented on #91
I can't install too, it seems that my sistem cannot find `vue-cli-service`. 😭 :
[code]

[2020-09-29 09:50] egekorkan commented on #91
Yes I will be there :)

[2020-11-06 11:21] egekorkan opened #92 "Reevaluate need for webpack"
Webpack came with the Monaco editor is causing some problems. We actually should not need webpack since we do not deliver to the browser. We need to reevaluate whether it is necessary

[2021-03-02 10:14] Fady222 commented on #53
This issue is already resolved. Should we close it? @egekorkan

[2021-03-02 14:30] egekorkan commented on #9
Fixed via #95

[2021-03-02 14:30] #9 closed

[2021-03-02 15:13] #53 closed

[2021-03-02 15:15] egekorkan commented on #91
So this is fixed via #95 . @Citrullin you can try again

[2021-03-02 15:15] #91 closed

[2021-03-02 15:16] egekorkan commented on #89
This is also fixed already

[2021-03-02 15:16] #89 closed

[2021-03-02 15:22] egekorkan commented on #81
We now have the nice GIFs in the Readme ;)

[2021-03-02 15:22] #81 closed

[2021-03-02 15:29] egekorkan commented on #72
@Fady222 this is fixed right? I cannot verify on my Linux setup even after generating icons since I don't have Windows' windows

[2021-03-02 16:11] #72 closed

[2021-03-02 16:18] Fady222 commented on #10
I think we can close this for now, we can re-visit it if we change how we store things in W-ADE . What do you think @egekorkan?

[2021-03-02 16:21] Fady222 commented on #29
Currently, removing part  of a JSON-LD  will lead to the cursor being sent to the first position, but will not scroll. We can close this issue and issue a new one. @egekorkan

[2021-03-02 16:23] Fady222 commented on #7
Isn't that already solved now? @egekorkan

[2021-03-02 16:30] Fady222 commented on #82
Monaco editor is there is it is time 😋

[2021-03-02 16:38] egekorkan commented on #7
YUP!

[2021-03-02 16:38] #7 closed

[2021-03-02 16:40] egekorkan commented on #10
yup the current way is not ideal but liveable... :)

[2021-03-02 16:40] #10 closed

[2021-03-03 16:18] egekorkan commented on #28
It is copy pasteable now!

[2021-03-03 16:18] #28 closed

[2021-03-03 17:25] egekorkan opened #97 "Default insertion to TDs before consumption"
The Playground's defaults insertion can be used to fill the lacking default fields in a TD, https://github.com/thingweb/thingweb-playground/tree/master/packages/defaults

[2021-03-04 13:42] Fady222 commented on #71
Fixed in PR #98

[2021-03-04 13:42] #71 closed

[2021-03-04 13:44] Fady222 commented on #38
Fetching status is implemented in PR #98 . Still need to work on connection errors

[2021-03-04 13:46] Fady222 commented on #40
Basic handling is implemented in #98

[2021-03-04 13:46] #40 closed

[2021-03-04 18:09] egekorkan opened #99 "Generating id of TD for config"
Currently, the config always contains the id `test-thing`. However, the id can be copy pasted automatically from TD so that the user does not have to find it manually. This will fail for TDs that do not have an id. For that, an id should be generated automatically after consumption if there is need for security. This id should be visible in the TD and the user should be informed. After that, it ca

[2021-03-04 21:28] Fady222 opened #101 "[Editor] W-ADE does not provide a way to set URI variables"
There should be a way to set URI variables because some TDs rely on them as inputs.

[2021-03-04 21:37] Fady222 opened #102 "[Editor] Interaction Invoke results area is too small to show object results"
The area showing the results is too small and not  able to show object results fully. The GUI need to be reimagined.

[2021-03-05 15:04] egekorkan opened #103 "Overlaying TD and annotation description"
The A-MaGe plugin can show a description on the interaction buttons as an overlay based text. This can be replicated for single Thing interactions in the main editor page.

[2021-05-27 12:07] sebastiankb commented on #101
is there some news here? I'm also just discovered the behavoir that no URI variables can be passed for properties.

@egekorkan @Fady222

[2021-05-27 12:20] Fady222 commented on #101
@sebastiankb I was working on a complete remake of the TD editor but I did not finish it

[2021-07-01 18:36] egekorkan opened #105 "Renaming TDs"
When a TD is added, its name that is displayed on the side bar cannot be edited

[2021-07-01 18:37] egekorkan opened #106 "Resizing sidebar"
When the TD name on the sidebar is too long, its right hand side is hidden and cannot be read. It should be possible to resize the sidebar

[2021-07-01 18:41] Fady222 commented on #106
This is harder than you think.

[2021-07-01 21:58] egekorkan opened #107 "Delete button is too easy to click"
Currently, the delete icon is next to the three dots which allows to add new TDs to a mashup or folder. When multiple TDs are added and one mistakenly clicks on the delete icon, there is no pop-up saying are you sure, which results in a very frustrating click... This is related to https://github.com/tum-esi/wade/issues/43 but written after experiencing the pain.

[2021-07-01 22:12] egekorkan opened #108 "Ordering the execution of interactions"
It is not possible to order the interactions by the user but at least when writing a property, it is convenient that the read happens always after a write so that with one "invoke interactions" the confirmation is shown to the user.

[2022-07-14 16:51] fatadel opened #121 "Non-resolved dependabot issues tracker"
Issue - Reason

1) https://github.com/tum-esi/wade/security/dependabot/18 - transitive dependency, should be fixed here https://github.com/nklayman/vue-cli-plugin-electron-builder/issues/1716

2) https://github.com/tum-esi/wade/security/dependabot/69 - https://github.com/nklayman/vue-cli-plugin-electron-builder/issues/1797

[2022-07-15 13:44] egekorkan opened #123 "Releases to Package Managers"
Once the releases are working nicely, it would be nice to push these releases to popular package managers. An initial list of candidates:
- AUR (Arch Linux, node-wot is already there)
- Snapcraft (General purpose linux)
- Chocolatey for Windows
- Homebrew for MacOS